@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

:root {
  --main-color-black: #222;
  --main-color-white: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: var(--main-color-white);
  background-color: var(--main-color-black);
}

/* LAYOUT */
header {
  height: 35vh;
  border-bottom: 7px solid var(--main-color-white);
  position: relative;
}

main {
  display: flex;
  height: 65vh;
  color: var(--main-color-white);
  align-items: center;
  justify-content: space-between;
}

.section-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.section-right {
  width: 50%;
  font-size: 1rem;
}

/* ELEMENTS STYLE */

h1 {
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 45%;
  width: 100%;
}

.number {
  background-color: var(--main-color-white);
  color: var(--main-color-black);
  font-size: 3rem;
  width: 8rem;
  text-align: center;
  padding: 2rem 0rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.between {
  font-size: 0.8rem;
  /* position: absolute; */
  top: 2rem;
  left: 2rem;
  margin: 1rem;
}

.again {
  margin: 1rem;
}

.btn {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--main-color-white);
  color: var(--main-color-black);
  border: none;
}

.btn:hover {
  color: #777;
  /* background-color: var(--main-color-black); */
}

.guess {
  background-color: transparent;
  color: var(--main-color-white);
  font-family: inherit;
  font-size: 2.5rem;
  border: 4px solid var(--main-color-white);
  width: 12rem;
  padding: 2rem;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
}

.message {
  margin-bottom: 5rem;
  height: 2rem;
}

.label-score {
  margin-bottom: 1.5rem;
}
